<div class="container-fluid centering">
  <div class="row-fluid">
    <h2>エラー！</h2>
    <p>位置情報の取得に失敗しました。</p>
    <p>お手数ですが初めからやり直して下さい。</p>
    <br>
    <p>位置情報の取得に対応していない携帯をお使いの方は、メール送信者の方に非対応だった旨をお伝え下さいm(_ _)m</p>
  </div>
</div>
