<div class="container-fluid centering">
  <div class="row-fluid">
    <h2>エラー！</h2>
    <p>申し訳ありませんが非対応の端末です…。</p>
    <p>メール送信者の方に非対応だった旨をお伝え下さいm(_ _)m</p>
    <p>設定でCookieを無効にしている方は、有効にしてご利用下さい。</p>
  </div>
</div>
