<div class="container-fluid centering">
  <div class="row-fluid">
    <div>あなたの現在地をメール送信者の元へ通知します</div>
    <br><br>
    <div>まずはここから位置情報を取得して下さい。</div>
    <%= get_position_link_to("位置情報を取得する", :action=>:register_position_mobile) %>
  </div>
</div>
